<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plaid Quickstart Example</title>
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main class="main">
      <div class="grid">
        <div class="grid__column grid__column--is-twelve-columns">
          <div id="banner" class="everpresent-content">
            <h1 class="everpresent-content__heading">Plaid Quickstart</h1>
            <p id="intro" class="everpresent-content__subheading">
              An example application that outlines an end-to-end integration
              with Plaid
            </p>
            <p id="steps" class="everpresent-content__subheading">
              Success! You just created an Item by linking your account.
            </p>
          </div>

          <div id="container" class="initial-view">
            <p class="initial-view__description">
              Click the button below to open a list of Institutions. After you
              select one, you’ll be guided through an authentication process.
              Upon completion, a public_token will be passed back to the server
              and exchanged for access_token.
            </p>

            <button id="link-btn" class="button button--is-primary" disabled>
              Add account
            </button>
            <!--
            <div class="loading-indicator"></div>
            -->
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
