<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recent transactions</title>
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="topnav">
      <div class="topnav-right">
        <a href = "/">Add account </a>
        <a href = "/summary">Account summary</a>
        <a href = "/transactions">Recent transactions</a>
      </div>
    </div>
    <main class="main">
      <h1 class="everpresent-content__heading">Recent transactions</h1>
      <div class="item-data-row__response">
        <table>
          <tbody id="get-transactions-data"></tbody>
        </table>
      </div>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script>
    let access_tokens = JSON.parse(localStorage.getItem("access_tokens"));

    $.get({
      url: "/api/transactions",
      data: { data: JSON.stringify({ access_tokens }) },
      success: function(data) {
        console.log("transactions data: ", data);

        $("#get-transactions-data").slideUp(function() {
          if (data.error != null && data.error.error_code != null) {
            // Format the error
            var errorHtml =
              '<div class="inner"><p>' +
              "<strong>" +
              data.error.error_code +
              ":</strong> " +
              (data.error.display_message == null
                ? data.error.error_message
                : data.error.display_message) +
              "</p></div>";

            if (data.error.error_code === "PRODUCT_NOT_READY") {
              // Add additional context for `PRODUCT_NOT_READY` errors
              errorHtml +=
                '<div class="inner"><p>Note: The PRODUCT_NOT_READY ' +
                "error is returned when a request to retrieve Transaction data " +
                'is made before Plaid finishes the <a href="https://plaid.com/' +
                'docs/quickstart/#transaction-data-with-webhooks">initial ' +
                "transaction pull.</a></p></div>";
            }
            // Render the error
            $("#get-transactions-data").slideUp(function() {
              $(this).slideUp(function() {
                $(this)
                  .html(errorHtml)
                  .slideDown();
              });
            });
            return;
          }
          $("#get-transactions-data").slideUp(function() {
            var html =
              "<tr><td><strong>Name</strong></td><td><strong>Amount</strong></td><td><strong>Date</strong></td></tr>";

            for (let i = 0; i < data.length; i++) {
              data[i].transactions.forEach(function(txn, idx) {
                html += "<tr>";
                html += "<td>" + txn.name + "</td>";
                html += "<td>$" + txn.amount + "</td>";
                html += "<td>" + txn.date + "</td>";
                html += "</tr>";
              });
            }

            $(this).slideUp(function() {
              $(this)
                .html(html)
                .slideDown();
            });
          });
        });
      }
    });
  </script>
</html>
